doctype
html(lang="en")
  head
    link(href='main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Coda', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    script(data-main='/main', src='/vendor/bower_components/requirejs/require.js')
  body
    include pages/_partials/menu.jade
    div.content
      div.container
        div.tout
          h1 Testudo 
          h2 Testudo is a Grunt based boilerplate for the building of modern, modular, testable web applications. Testudo has first class support for all of the modern tools you know and love such as RequireJS, CoffeeScript, Karma, Grunt, Bower, SASS, Bootstrap and many more.

          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis elit arcu, in dapibus dui fringilla eu. Duis lorem erat, porta eu nibh vitae, facilisis pharetra nulla. Integer quis eros ac quam pharetra sodales ut et sem. Sed cursus massa ac purus posuere, sed consequat dolor tempus. Pellentesque quis consequat nisi. Vestibulum rhoncus purus ante, vel tempus enim tincidunt nec. Proin vestibulum convallis blandit. Mauris lacinia nunc ut arcu imperdiet, sed semper sapien vulputate. In auctor est ornare ultricies lobortis. Vivamus egestas, felis id fringilla hendrerit, sapien urna vulputate lacus, at vehicula sapien dui sed dui. Nulla aliquam dolor vitae orci tempus tristique. Morbi laoreet lorem vel elit pulvinar, eu venenatis purus varius. Pellentesque porttitor sit amet turpis vel luctus. Cras tristique est non quam pretium sollicitudin. Vivamus posuere velit et leo ultrices vehicula.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis elit arcu, in dapibus dui fringilla eu. Duis lorem erat, porta eu nibh vitae, facilisis pharetra nulla. Integer quis eros ac quam pharetra sodales ut et sem. Sed cursus massa ac purus posuere, sed consequat dolor tempus. Pellentesque quis consequat nisi. Vestibulum rhoncus purus ante, vel tempus enim tincidunt nec. Proin vestibulum convallis blandit. Mauris lacinia nunc ut arcu imperdiet, sed semper sapien vulputate. In auctor est ornare ultricies lobortis. Vivamus egestas, felis id fringilla hendrerit, sapien urna vulputate lacus, at vehicula sapien dui sed dui. Nulla aliquam dolor vitae orci tempus tristique. Morbi laoreet lorem vel elit pulvinar, eu venenatis purus varius. Pellentesque porttitor sit amet turpis vel luctus. Cras tristique est non quam pretium sollicitudin. Vivamus posuere velit et leo ultrices vehicula.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis elit arcu, in dapibus dui fringilla eu. Duis lorem erat, porta eu nibh vitae, facilisis pharetra nulla. Integer quis eros ac quam pharetra sodales ut et sem. Sed cursus massa ac purus posuere, sed consequat dolor tempus. Pellentesque quis consequat nisi. Vestibulum rhoncus purus ante, vel tempus enim tincidunt nec. Proin vestibulum convallis blandit. Mauris lacinia nunc ut arcu imperdiet, sed semper sapien vulputate. In auctor est ornare ultricies lobortis. Vivamus egestas, felis id fringilla hendrerit, sapien urna vulputate lacus, at vehicula sapien dui sed dui. Nulla aliquam dolor vitae orci tempus tristique. Morbi laoreet lorem vel elit pulvinar, eu venenatis purus varius. Pellentesque porttitor sit amet turpis vel luctus. Cras tristique est non quam pretium sollicitudin. Vivamus posuere velit et leo ultrices vehicula.

    footer
      div.container
        p test
