$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'vendor/bower_components/sass-bootstrap/lib/bootstrap';
@import 'modules/gmaps/main';


h1, h2, h3, h4, h5 {
  font-family: 'Coda', cursive;
}

body {
  color: white;
  background-color: #333;
  padding-top: 400px;
}

.jumbotron {
  color: white;
  background-color: rgb(200,52,33);
  margin-bottom: 0px;
  padding: 10px;
}

.photo_container {
  height: 600px;
}
