@import 'nib'

global-reset()

body 
  background-color: #222
  margin: 0
  font-family: 'Open sans',sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(51,51,51)

h1, h2, h3, h4, h5
  font-family: 'Coda', sans-serif
  font-variant: small-caps

.clearfix
  clearfix()

h1
  font-size: 54px
  font-weight: 400

.site-nav
  background-color: #d13c3c
  padding: 10px
  h1
    font-size: 40px
    color: #fff
    float: left

  ul
    float: right
    list-style: none
    li
      display: inline-block 
      margin-left: 15px
      a
        color: #fff
        line-height: 40px

.container 
  width: 800px
  margin-left: auto
  margin-right: auto

.content
  background-color: #fff

.tout h1, h2 
  text-align: center
