$icon-font-path: "/vendor/bower_components/sass-bootstrap/fonts/";

@import 'vendor/bower_components/sass-bootstrap/lib/bootstrap';
@import 'modules/gmaps/main';
@import 'modules/instagram/main';
@import 'modules/carousel/main';

h1, h2, h3, h4, h5 {
  font-family: 'Coda', cursive;
}

body {
  color: white;
  background-color: #333;
  padding-top: 350px;
}

#header {
  background-color: rgb(45,45,45);
  color: white;
  padding: 5px;
}

.navbar {
  background-color: #d13c3c;
  color: white;


  a {
    background-color: #d13c3c !important;
    color: white !important;
    font-family: 'Coda', cursive;
  }

  .navbar-brand {
    color: #d13c3c;
    font-family: 'Coda', cursive;
    font-size: 24px;
  }
}


section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.module-container {

}

.about {
  background-color: #474444;

}

.instagram {
  background-color: #333030;
}

footer {
  height: 500px;
  background-color: #d13c3c; 
}
