$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'vendor/bower_components/sass-bootstrap/lib/bootstrap';
@import 'modules/moduleA/main';

body {
  color: white;
  background-color: #333;
}

.jumbotron {
  background-color: rgb(200,52,33);  
  padding-bottom: 0px;
}

#map {
  height: 300px;
}

.navbar {
  background-color: rgb(200,52,33);   
  color: white;
}
