doctype
html(lang="en")
  head
    link(href='main.css', rel='stylesheet')
    script(data-main='/main', src='/vendor/bower_components/requirejs/require.js')
  body
    include views/_partials/menu.jade
    div.content
      div.container
        section#todoapp
          header#header
            h1=todos
            input#new-todo(placeholder="What needs to be done?", autofocus)
          section#main
            input#toggle-all(type='checkbox')
            label(for="toggle-all")
            ul#todo-list
          footer#footer
